.body-color {
    background-color: #000;
}

.banner-section {
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;

    background-position: center;
    padding: 10%;
}

.frame-width {
    width: 30px;
}

.card {
    background-color: #000;
}

.color-2 {
    background-color: #000;
}